<div class="card-container">
    <div class="card-title">Temperature</div>
    <div class="val-container">
        <div class="main-val-container">
            <span class="main-val">
                <span>21</span>
                <sub><sup>o</sup>C</sub>
            </span>
        </div>
        <div class="sub-val-container">
            <div class="val-93">
                <img src="../../../assets/fire.svg"/>
                <!-- <fa-icon [icon]="faArrowUp"></fa-icon> -->
                <span class="right-val">26
                    <sub><sup>o</sup>C</sub>
                </span>
            </div>
            <div class="val-61">
                <img src="../../../assets/snowflake.svg"/>
                <!-- <fa-icon [icon]="faArrowDown"></fa-icon> -->
                <span class="right-val">18
                    <sub><sup>o</sup>C</sub>
                </span>
            </div>
        </div>
    </div>
</div>
