.logo-container{
    margin: 4rem auto;
    width: 15%;
}
.cards-container{
    flex-wrap: wrap;
    >div{
        width: 15%;
        min-width: 280px;
        margin-bottom: 1rem;
        margin-left: 2rem;
    }
    display: flex;
    justify-content: center;
    padding: 0 18%;
}
.link-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

}