<div class="card-container">
    <div class="card-title">Air Quality</div>
    <div class="val-container">
        <div class="main-val-container">
            <span class="main-val">72</span>
        </div>
        <div class="sub-val-container">
            <div class="val-93">
                <fa-icon [icon]="faArrowUp"></fa-icon>
                <span class="right-val">93</span>
            </div>
            <div class="val-61">
                <fa-icon [icon]="faArrowDown"></fa-icon>
                <span class="right-val">61</span>
            </div>
        </div>
    </div>
</div>
