@font-face {
    font-family: "rota-black";
    src: url("/assets/fonts/Rota-Black.otf") format("truetype");
}
@font-face {
    font-family: "rota-bold";
    src: url("/assets/fonts/Rota-Bold.otf") format("truetype");
}
@font-face {
    font-family: "rota-medium";
    src: url("/assets/fonts/Rota-Medium.otf") format("truetype");
}
@font-face {
    font-family: "rota-regular";
    src: url("/assets/fonts/Rota-Regular.otf") format("truetype");
}

.card-container{
    min-width: 280px;
    border-radius: 20px;
    background-color: #ececec;
    height: 203px;
    .card-title{
        padding: 1rem 1rem 0 1rem;
        margin-bottom: 1rem;
        font-weight: bold;
        font-size: 2rem;
        font-family: system-ui;
        color: #555555;
    }
    .val-container{
        padding: 0 1rem 1rem 1rem;
        display: flex;
    }
}